<%= render 'shared/navbar' %>

<div class="container w-50 my-5">
  <h4 class="garage-heading">My Garage</h4>

  <% @favourites.each do |favorite| %>
    <div class="garage-car">
      <%= image_tag(favorite.car.image_url || 'garage_banner.jpg', alt: "Car image") %>
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>

      <div class="w-100 d-flex justify-content-between align-item-center">
        <div class="garage-car-infos">
          <h5><%= link_to favorite.car.brand, car_path(favorite.car) %></h5>
          <h6><%= favorite.car.model %></h6>
          <p><%= favorite.car.year %> | <%= favorite.car.fuel %></p>
        </div>

        <div class="garage-car-delete">
          <%= link_to favourite_path(favorite), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
            <i class="fa-sharp-duotone fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
