<%= render 'shared/navbar' %>

<div class="container w-75 my-5">
  <div class="car-card">
    <%= image_tag(@car.image_url || 'garage_banner.jpg', alt: "Car image") %>
    <%# <img src="https://images.pexels.com/photos/2664399/pexels-photo-2664399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" /> %>

    <div class="in-garage">
      <% if @car.favourites.empty? %>
        <%= simple_form_for [@car, @favourite] do |f| %>
          <%= f.submit "Save in my Garage", class: "btn btn-outline-secondary" %>
        <% end %>
      <% else %>
        <p>This is already in my Garage!</p>
      <% end %>
    </div>

    <div class="car-card-infos">
      <div>
        <h5 class="font-bold"><%= @car.brand %></h5>
        <h6 class="font-bold"><%= @car.model %></h6>
        <h6><%= @car.fuel %></h6>
        <h6><%= @car.year %></h6>
      </div>

      <div class="w-50">
        <%= simple_form_for [@car, @review] do |f| %>
          <%= f.input :comment, input_html: { placeholder: "Comment here.." } %>
          <%= f.input :rating, collection: 1..5 %>
          <div class="d-flex justify-content-end">
            <%= f.submit "Send", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="review-section">
      <hr>
      <p>reviews (<%= @car.reviews.count %>):</p>
      <div>
        <% @car.reviews.each do |review| %>
          <p><%= review.comment %> <%= 'â­' * review.rating %></p>
        <% end %>
      </div>
      <hr>
    </div>
  </div>
</div>
